[submodule "third_party/srtgo"]
	path = third_party/srtgo
	url = https://github.com/lapis42/srtgo
[submodule "third_party/korail2"]
	path = third_party/korail2
	url = https://github.com/carpedm20/korail2
[submodule "third_party/srt"]
	path = third_party/srt
	url = https://github.com/ryanking13/SRT
